*~
\#*\#
.\#*

# Bash
bashrc.d/secrets.sh

# Emacs
emacs.d/*.elc
emacs.d/.emacs.desktop
emacs.d/.emacs.desktop.lock
emacs.d/auto-save-list
emacs.d/eglot-java-eclipse-jdt-cache
emacs.d/history
emacs.d/ielm-history.eld
emacs.d/mastodon.plstore
emacs.d/nov-places
emacs.d/persist
emacs.d/share
emacs.d/tramp
emacs.d/.org-id-locations
emacs.d/*_archive
emacs.d/*_flymake.*
emacs.d/eshell/history
emacs.d/eshell/lastdir
emacs.d/elpa
emacs.d/*.rel
emacs.d/auto/
emacs.d/.cask/
emacs.d/dist/
emacs.d/flycheck_*.el
emacs.d/server
emacs.d/.projectile
emacs.d/.dir-locals.el
emacs.d/network-security.data
emacs.d/.last-package-update-day
emacs.d/ac-comphist.dat
emacs.d/eln-cache
emacs.d/init.d/custom.el
emacs.d/projectile-bookmarks.eld
emacs.d/projects
emacs.d/recentf
emacs.d/session.*
emacs.d/transient
emacs.d/url