bashrc.d/secrets.sh

emacs.d/*~
emacs.d/**/*~
emacs.d/*.elc
emacs.d/.emacs.desktop
emacs.d/.emacs.desktop.lock
emacs.d/.last-package-update-day
emacs.d/ac-comphist.dat
emacs.d/auto-save-list
emacs.d/eln-cache
emacs.d/elpa
emacs.d/eshell/
emacs.d/init.d/custom.el
emacs.d/projectile-bookmarks.eld
emacs.d/projects
emacs.d/recentf
emacs.d/session.*
emacs.d/tramp
emacs.d/transient
emacs.d/url
